/*
!Dockerfile
!LICENSE
!README.md
!compose.yaml
!go.mod
!main.go
!main_test.go
**/.dev.vars
**/.dev.vars.*
**/.env
**/.env.local
**/.env.*.local
**/*.key
**/*.pem
**/service-account*.json
**/gcp-*.json
**/aws-*.json
**/azure-*.json
**/deploy_key*
!*.go
!.gitignore
!Dockerfile
!LICENSE
!README.md
!compose.yaml
!go.mod
!go.sum
